body{
  text-align: center;
}

hr{
  color: #EAF6F6;
  width: 10%;
  border: 10px dotted;
  border-style: none none dotted;
}

h1{
  margin: 50 auto 0 auto;
  font-size: 562.5%; /* percent is determined by [pixel size wanted]/16*100 = % */
                    /* also 1em=16px=100%*/
  font-family: 'Pacifico', cursive;
  color: #66BFBF;

}

h2{
    font-family: 'Overpass', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF
}

h3{
  font-family: 'Signika Negative', sans-serif;
  color: #11999E;
}

p{
  font-family: 'Overpass', sans-serif;
  color: #40514E;
}


div{
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.heading {
  margin-top: 0;
}

.top-container{
  position: relative;
  padding-top: 100px;
  background-color: #E8F6EF;
}

.skill-row{
  margin: 50px auto 100px auto;
  width: 50%;
  line-height: 2;
}

.laser-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.plane-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile{
  margin: 50px auto 50px auto
}

.bottom-container{
  background-color: #66BFBF;
}

.fcc-btn{
  background-color: #66BFBF;
 color: white;
 font-family: 'Overpass', sans-serif;
 padding: 10px 10px;
 border-radius: 5%;
}

.contact-me{
   margin: 25px auto 25px auto;
}

.footer-link{
  font-family: 'Overpass', sans-serif;
  color: #40514E;
}
